<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (task of tasks(); track task.id) {
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.createdAt | date }}</td>
        <td class="flex gap-2">
          <a class="btn btn-primary" [routerLink]="['/update', task.id]">Update</a>
          <button class="btn btn-error" type="button" (click)="deleteTask(task.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (!tasks().length) {
  <p class="my-5 text-center">No tasks</p>
}
